
@media screen and (max-width: 1100px) {
  .navbar-links{
    flex-direction: column;
  }
  
  .ul-nav{
    position: absolute;
    flex-direction: column;
  }
  .burger{
    display: block;
    position: relative;
    padding-left: 50%;
    font-size: 50px;
  }
  .animacia{
    display: none;
  }
  .main-section {
  margin-top: 110%;
  }
  /* .navbar-links{
    display: none;
  } */
  .navbar-links:active{
    display: block;
  }
  
}



@media screen and (max-width: 600px) {
  .header-section{
    margin-right: 10%;
  }
/* .button-section {
 
  } */
}
  