body{
    background-image: url("../img/bg-image-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
}
/* ...... */
/* საერთო */
.nav-div,
.ul-nav,
.main-section,
.d-main .project-section .one-section {
    display: flex;
    flex-wrap: wrap;
}

/* header */
.nav-div{
    /* position: fixed; */
background-color:white ;
align-items: center;
}
.li-nav{
    font-size: 20px;
    margin-left: 30px;
    padding-left: 30px;
}
.li-nav a{
    text-align: center;
}
.li-nav:hover{
    text-align: center;
    font-size: 20px;
    background-color: green;
    width: 100px;
    height: 40px;
}
.header-section{
    text-align: center;
    font-size: 25px;
    margin-top: 10%;
}
.header-section .p1-section{
    margin-top: 1%;
}
.header-section .button-section{
    margin-left: 40%;
    text-align: center;
    margin-top: 2%;
    background-color: green;
    width: 300px;
    height: 50px;
}
.header-section .button-section:hover{
    margin-left: 40%;
    background-color: rgb(100, 14, 199);
    width: 300px;
    height: 50px;
    
}
.header-section .button-section a{
    color: white;
}

/* and of header */
/* main */
.main-section{
justify-content: space-around;
}
.main-section .col{
    text-align: center;
    margin-top: 20%;
    /* margin-left: 10%; */
    background-color: honeydew;
    border-radius: 10px;
    border: 1px solid green;
    max-width: 350px;
    max-height: 450;
    transition: all 0.3s ease;

}
/* .main-section .col:hover{
    background-color: rgb(159, 214, 159);
    box-sizing: inherit;
    transition: all 0.3s ease;
} */

.main-section .col p{
    max-width: 250px;

}

.project-title{
    text-align: center;
    font-size: 45px;
    /* margin-top: 15%; */
    margin: 5%;
}
.project-section .one-section{
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-section .col{
    /* margin-top: 5%; */
    overflow: hidden;
    height: 300px;
    width: 350px;
    position: relative;
    cursor: pointer;
    margin: 15px 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .5s;
    background-color: #555;
}
.project-section .col::after{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    background-color: rgba(54, 216, 116, 0.8);
    border-radius: 50%;
    transition: .8s;
}
.project-section .col:hover::after{
    transform: translate(-50%, -50%);
}
.project-section .col img{
    max-width: 400px;
    height: 350px;
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
    /* object-fit: contain; */
}
.project-section .col .one-col{
    text-align: center;
    font-size: 20px;
    width: 350px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in;
}
.project-section .col:hover .one-col{
    transform: translate(-50%, -50%);
    transition-timing-function: ease;

}



/* ............ */
.person-section-title{
    text-align: center;
    font-size: 45px;
    margin: 25px;
}
.error-text {
    color: red;
    text-align: center;
}
.ul-users {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}
.li-users {
    display: flex;
    flex-direction: column;
}
.image-wraper {
    height: 200px;
}
.button-person{
    text-align: center;
    margin: 20px;
}
/* .........and off */

/* ...... */
/* .................and off */
/* >>>>>>>>ფორმა */
.body-section{
background-image: url("../img/svaneti.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 700px;
height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */

}
.body-section .container{
	color: rgb(248, 248, 248);
    max-width: 700px;
    width: 100%;
    /* background-color: #fff; */
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #4bb107, #50e074);
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #04e20f;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #0ef321;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #262e24, #19f804);
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #1d221d, #67fc04);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
   
  






/* .................... */
.d-footer{
    background-color: rgb(38, 241, 38);
    height: 400px;
    margin-top: 40px;
}